langgraph>=0.0.15
langchain>=0.1.0
langchain-anthropic>=0.0.1
typing-extensions>=4.5.0
python-dotenv>=1.0.0
langchain-community
langchain-openai
pypdf
pandas>=2.0.0
langchain-iris
testcontainers-iris
llama-iris
llama-index-legacy
sentence-transformers
langchain
fastembed 
openai 
tiktoken
python-dotenv
pandas
ipykernel
setuptools